html {
  height: 100%;
  width: 100%;
}
h2 {
  font-size: 24px;
  padding:10px;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color:rgb(205, 220, 57);
}
th {
  background-color:rgb(205, 220, 57);
  width: 200px;
  border-radius: 20px;
}
td {
  offset: 10px;
  border: 1px solid black;
  border-radius: 50px;
  
}
a {
  text-underline-offset: 5px;
  color: black;
}